.App {
  min-width: auto;
  min-height: 100vh;
  background-image: url("./assets/images/port_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.icons {
  font-size: calc(26px + (32 - 26) * (100vw - 400px) / (1200 - 400));
  cursor: pointer;
  color: white;
}

.logo-sm {
  margin: 3vw 0 3vw 0;
  width: 100%;
  display: flex;
  justify-content: center;
}